.loading-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 639px) {
    gap: 2rem;
  }
}

.loading-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  position: relative;

  @media (min-width: 640px) and (max-width: 1023px) {
    &:not(:nth-child(2n)):not(:nth-last-child(1))::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2rem;
      width: 1px;
      height: 100%;
      background-color: #e5e7eb;
    }
  }

  @media (min-width: 1024px) {
    &:not(:nth-child(3n)):not(:nth-last-child(-n + 2))::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2rem;
      width: 1px;
      height: 100%;
      background-color: #e5e7eb;
    }
  }

  @media (max-width: 639px) {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 2rem;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.image {
  aspect-ratio: 280 / 180;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.loading-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 0%;
  margin-top: 1rem;
}

.skeleton-bar {
  height: 1rem;
  width: 100%;
  border-radius: 9999px;
  animation: skeleton-loading 1s linear infinite alternate;
  color: transparent;
  background-color: #f3f4f7;
}

@keyframes skeleton-loading {
  to {
    background-color: #e5e7eb;
  }
}

.title-bar {
  height: 1rem;
  width: 100%;
  border-radius: 9999px;
  background-color: #f3f4f7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.meta-bar {
  height: 0.5rem;
  width: 60%;
  border-radius: 9999px;
  background-color: #f3f4f7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.desc-bar {
  height: 1rem;
  width: 100%;
  border-radius: 9999px;
  background-color: #f3f4f7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.date-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-bar {
  height: 0.5rem;
  width: 20%;
  border-radius: 9999px;
  background-color: #f3f4f7;
  animation: skeleton-loading 1s linear infinite alternate;
}
