header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: white;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15), 0 1.5px 4px rgba(0, 0, 0, 0.08);
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #e5e7eb;

  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
    line-height: 1.2;
    white-space: nowrap;
  }
  img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    object-fit: cover;
  }
  @media (max-width: 1300px) {
    border-radius: 0;
    margin-top: 0;
  }
}
